<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Patient</title>
</head>
<body>

<h1>Ajouter un Patient</h1>

<form method="post" action="{% url 'ajouter_patient' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="{{ form.Nom_M.id_for_label }}">Nom:</label>
        {{ form.Nom_P }}
    </div>

    <div class="form-group">
        <label for="{{ form.Prenom_M.id_for_label }}">Prénom:</label>
        {{ form.Prenom_P }}
    </div>

    <div class="form-group">
        <label for="{{ form.Telephone_M.id_for_label }}">Date de naissance:</label>
        {{ form.DateNaissance}}
    </div>

    <div class="form-group">
        <label for="{{ form.Telephone_M.id_for_label }}">Téléphone:</label>
        {{ form.Telephone_P}}
    </div>

    <div class="form-group">
        <label for="{{ form.Telephone_M.id_for_label }}">Adresse Postale:</label>
        {{ form.Adresse_P}}
    </div>
    <br><br>
    <button type="submit">Ajouter Patient</button>
</form>

</body>
</html>
