<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styleD.css' %}" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <h2>Ajouter un Diagnostic</h2>
  <form method="post" action="{% url 'ajouter_diagnostic' %}">
    {% csrf_token %}
    <label for="id_Date_rdv">Diagnostic</label>
    {{ form.Desc_diag }}
    <br>
    <label for="id_Date_rdv">Numero rdv</label>
    {{ form.Num_rendezvous }}
    <br>
    <button class="samir" type="submit">Enregistrer le Diagnostic</button>
  </form>
  <a href="{% url 'liste_diagnostic' %}"> <button>Retour</button></a>
</body>
</html>