<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style_dossier.css' %}" rel="stylesheet" >
    <title>Dossier Médical</title>
</head>
<body>

<h1>Dossier Médical</h1>
<h2>Informations Générales du Patient</h2>

<ul>
    <li><strong>Nom :</strong> {{ dossier_medical.Num_Patient.Nom_P }}</li>
    <li><strong>Prénom :</strong> {{ dossier_medical.Num_Patient.Prenom_P }}</li>
    <li><strong>Date de Naissance :</strong> {{ dossier_medical.Num_Patient.DateNaissance|date:"d/m/Y" }}</li>
    <li><strong>Genre :</strong> {{ dossier_medical.Num_Patient.get_Genre_display }}</li>
    <li><strong>Adresse :</strong> {{ dossier_medical.Num_Patient.Adresse_P }}</li>
    <li><strong>Numéro de Téléphone :</strong> {{ dossier_medical.Num_Patient.Telephone_P }}</li>
</ul>
<h2>Historique des Rendez-vous</h2>

<table border="1">
    <thead>
        <tr>
            <th>Numéro RDV</th>
            <th>Date RDV</th>
            <th>Médecin</th>
        </tr>
    </thead>
    <tbody>
        {% for rendezvous in dossier_medical.Num_Patient.rendezvous_set.all|dictsort:"Date_rdv" %}
            <tr>
                <td>{{ rendezvous.Num_rdv }}</td>
                <td>{{ rendezvous.Date_rdv|date:"d/m/Y H:i" }}</td>
                <td>{{ rendezvous.Num_Medecin.Nom_M }} {{ rendezvous.Num_Medecin.Prenom_M}}</td>
               
            </tr>
        {% endfor %}
    
    </tbody>
</table>
{% for diagnostic in dossier_medical.revevoir_diagnostics %}
        <h2>Diagnostic pour le rendez-vous {{ diagnostic.Num_rendezvous.Num_rdv }}</h2>
        <p>{{ diagnostic.Desc_diag }}</p>
{% endfor %}


<a href="{% url 'Home' %}"><button>Retour à l'accueil</button></a>
<a href="{% url 'liste_patients' %}"><button>Retour</button></a>


</body>
</html>
