<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/styleListM.css' %}" rel="stylesheet" />
    
    <title>Document</title>
</head>
<body>
    <h1>Liste des Medecins</h1>
    <form method="get" action="{% url 'liste_medecins' %}">
        <input type="text" name="q" placeholder="Recherche par Noms des Medecins" value="{{ query }}">
        <button type="submit">Rechercher</button>
    </form>
    <div class="table-wrapper">
<table class="fl-table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Specialite</th>
            
        </tr>
    </thead>
    <tbody>
        {% for medecin in medecins %}
            <tr>
                <td> {{medecin.Nom_M }}</td>
                <td>{{ medecin.Prenom_M }}</td>
                <td>{{ medecin.Telephone_M }}</td>
                <td>{{ medecin.specialite }}</td>
                <td>
                    <a href="{% url 'prefillMedecin' pk=medecin.Num_M %}"><button>Modifier</button></a>
                </td> 
                <td>
                    <a href="{% url 'supprimer_medecin' pk=medecin.Num_M %}"><button>Supprimer</button></a>
                </td>
              
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<a href="{% url 'ajouter_medecin' %}"><button>Ajouter medecin</button></a>
<a href="{% url 'Home' %}"><button>Retour à l'accueil</button></a>
</body>
</html>
