<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liste des Medecins</h1>

<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            
        </tr>
    </thead>
    <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.Nom_M }}</td>
                <td>{{ medecin.Prenom_M }}</td>
                <td>{{ medecin.Telephone_M }}</td>
              
            </tr>
        {% endfor %}
    </tbody>
</table>


<a href="{% url 'ajouter_medecin' %}"><button>Ajouter medecin</button></a>
</body>
</html>