<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Patients</title>
</head>
<body>

<h1>Liste des Patients</h1>

<table border="1">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
        </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.Nom_P }}</td>
                <td>{{ patient.Prenom_P }}</td>
                <td>{{ patient.DateNaissance }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'ajouter_patient' %}"><button>Ajouter Patient</button></a>

</body>
</html>
