{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_ath.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Page d'Authentification</title>
</head>
<body>
    <div class="login-container">
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <h2>Connexion</h2>

        <form method="post" action="{% url 'page_authentification' %}">
            {% csrf_token %}

            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>
    </div>
</body>
</html>
